title = "Contact"
url = "/contact"
layout = "default"
is_hidden = 0

[builderList contactList]
modelClass = "Sujanneupane\Contact\Models\Contact"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set records = contactList.records %}
{% set displayColumn = contactList.displayColumn %}
{% set noRecordsMessage = contactList.noRecordsMessage %}
{% set detailsPage = contactList.detailsPage %}
{% set detailsKeyColumn = contactList.detailsKeyColumn %}
{% set detailsUrlParameter = contactList.detailsUrlParameter %}


<div class="uk-container page-content">
    <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
        
        {% for record in records %}
            <div>
                {% if loop.index%2 == 1 %}
                    <div class="uk-card uk-card-default light light-child uk-card-hover uk-card-body uk-text-center">
                {% else %}
                    <div class="uk-card dark uk-card-secondary dark dark-child uk-card-hover uk-card-body uk-text-center">
                {% endif %}
                        <h3 class="my-navbar-header">{{record.name}}</h3>
                </div>
            </div>
            <div>
                {% if loop.index%2 == 1 %}
                    <div class="uk-card dark uk-card-secondary dark dark-child uk-card-hover uk-card-body uk-text-center">
                {% else %}
                    <div class="uk-card uk-card-default light light-child uk-card-hover uk-card-body uk-text-center">
                {% endif %}
                        <h3 class="my-navbar-header">{{record.details}}</h3>
                </div>
            </div>
        {% endfor %}
        
    </div>
</div>