/* Header */

body{
    padding: 0px;
    background-color: #efefef;
}
#layout-nav {
    z-index: 0;
    position: relative;
}
/* Navbar */
.navbar-right{
    position: absolute;
    right: 20vw;
}
.navbar-inverse{
    height: 150px;
    background: linear-gradien;
}
.my-navbar-header{
    font-size: 2em;
}

.header{
    max-width: 1140px;
}
.half-screen{
    width: 100% !important;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.half-screen>p{
    position: absolute;
}

.light, .uk-card-default{
    background-color: #fff;
    border-radius: 10px;
    height: 40vh;
    box-shadow: 0px 0 10px #fff;
}
.dark, .uk-card-secondary{
    background-color: #000;
    border-radius: 10px;
    height: 40vh;
    box-shadow: 0px 0 10px #fff;
}
.light-child, .dark-child{
    height: 21vh;
}


/* Homepage */
.homepage-content{
    margin-top: -75px;
    padding-bottom: 45px;
}
.border{
    height: 15vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.dark .border {
    color: #fff;
    /* border: 1px solid #efefef; */
}
.light .border {
    color: #000;
    /* border: 1px solid #000; */
}
.icon-image{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-position: center;
}

.my-toggle{
    width: 10.75vw;
    position: absolute;
    margin: 0px !important;
    padding: 0px !important;
}
.my-toggle-text-right, .my-toggle-text-left{
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.my-toggle-text-right{
    width: 50%;
}
.my-toggle-text-left{
    width: 50%;
}

.social-icon{
    width: 20px;
    height: 20px;
}



/* PAGES */
.page-content{
    margin-top: -50px;
    padding-bottom: 50px;
}







/* Footer */
#footer{
    text-align: center;
    position: fixed;
    bottom: 0;
}









/* Mobile */
@media(max-width: 768px){
    .dark-mobile{
        background-color: #000;
    }
    .light-mobile{
        background-color: #efefef;
    }
    .light-mobile .border {
        color: #000 !important;
        border: 1px solid #000 !important;
    }
    .dark-mobile .border {
        color: #fff !important;
        border: 1px solid #efefef !important;
    }

    .border{
        width: 100vw;
        height: 12.5vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .half-screen{
        padding-left: 30px !important;
    }
}